<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"  >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <title>Add score to a match</title>
</head>
<body>
  <%-include('navbar')-%>
  
<center class="mb-4"><h2>  <i class="fa-solid fa-arrow-up-1-9"></i> Add score to a match</h2></center>
         
<section class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <label>Choose a match</label>
        <select class="form-control" placeholder="First name" aria-label="First name">
          <option>R</option>
          <option>A</option>
          <option>S</option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <label><i class="fa fa-users" aria-hidden="true"></i> A team score</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label><i class="fa fa-users" aria-hidden="true"></i> B team score</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-6 text-center">
        <button class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Add a score to the match</button>
      </div>
    </div>
  </div>
  
 </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>