 
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" style="background: #054D7D!important;">
    <div class="container-fluid">
      <a class="navbar-brand"  style="color: white;" href="/">Score Management app</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
           
          <a class="nav-link" href="/user/addMatch"  style="color: white;" ><i class="fa-solid fa-futbol"></i> Add new match</a>
          <a class="nav-link" href="/user/addScore"  style="color: white;" ><i class="fa-solid fa-arrow-up-1-9"></i> Add score to a match</a>
          <a class="nav-link" href="/user/addPrediction"  style="color: white;" ><i class="fa-solid fa-medal"></i> Make prediction</a>
          <a class="nav-link" href="/user/classement"  style="color: white;" ><i class="fa-solid fa-star"></i> Team rankings</a>
 
        </div>
      </div>
    </div>
  </nav>
  <style>
    body {
         font-family: Montserrat;
    }
  </style>
 