<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>INDEX PAGE</title>
  
</head>
<body>
<nav>
	 <center><h3>Connexion</h3></center>
</nav>
<center><h5>Entrez les informations demandés</h5></center>
 <section>
   
 </section>
</body>
</html>